h1 {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  margin: 24px 0;
}

.bold-paragraph {
  color: #ff87a6;
}

#bold {
  background-color: #ff87a6;
  color: white;
}

img {
  width: 100%;
}
